html {
    background-color: olivedrab;
}
html {
    font-size: 50px;
}

input#year {
    font-size: 30px;
}

input#month {
    font-size: 30px;
}
button {
    font-size: 40px;
}

h2 {
    font-size: 100px;
    padding-left: 500px;
    padding-top: 30px;
    font-size: 50px;
}

table {
    font-size: 10px;
}
table {
    margin: auto;
    padding: 10px;
    border: solid black;
    width: 600px;
    height: 500px;
}
body {
    border: solid black;
    margin: auto;
    padding: 30px;
    text-align: center;
}
.sadi {
    text-align: center;
}
td {
    text-align: center;
}
tbody > tr {
    text-align: center !important;
}
