html {
    background-color: whitesmoke;
}
html {
    font-size: 50px;
}

input#year {
    font-size: 30px;
}

input#month {
    font-size: 30px;
}
button {
    font-size: 40px;
}

h2 {
    font-size: 100px;
    /* padding-left: 50px; */
    position: fixed;
    padding-top: 0px;
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding-left: 370;
    padding-top: 5px;
}

table {
    font-size: 50px;
}
table {
    /* margin: auto; */
    padding: 0px;
    width: 1000px;
    height: 500px;
    border-collapse: collapse;
    margin: 0px;
}
body {
    /* border: solid black; */
    /* margin: auto; */
    /* padding: 30px; */
    display: flex;
    /* text-align: center; */
    justify-content: center;
}
table > tbody > tr > th {
    border-style: solid;
    border-width: 1px;
}

tbody > tr {
    text-align: center !important;
}
td {
    border-style: solid;
    border-width: 1px;
}
h3 {
    font-size: 30px;
    text-align: justify;
    /* margin-right: 33px; */
    padding-left: 15px;
    color: red;
    padding-bottom: 0px;
}
h1 {
    /* padding: 1; */
    margin-top: 0px;
    font-size: 30px;
    text-align: right;
    margin: -85px;
    /* margin-left: 25px; */
    padding-right: 65px;
    color: cornflowerblue;
    padding-right: 100px;
}
.sadi {
    width: 1000px;
    padding-top: 0;
    height: 500px;
    /* text-align: center; */
}

small {
    color: red;
}
th#a {
    //
    color: red;
    /* border-block: black; */
    border-block-color: black;
    font: blac;
    font-size: c;
    font-size: red;
    font: red;
    color: red;
}

th#b {
    //
    color: red;
    /* border: black; */
    /* border-block: black; */
    color: red;
    color: r;
}
h5 {
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding-left: 750px;
    margin: 0px;
}
h3#bangla_month_name {
    margin: 0px;
    padding-top: 100px;
}
