html {
    background-color: olivedrab;
}
html {
    font-size: 50px;
}

input#year {
    font-size: 30px;
}

input#month {
    font-size: 30px;
}
button {
    font-size: 40px;
}

h2 {
    font-size: 50px;
}

table {
    font-size: 50px;
}
table {
    margin: auto;
    padding: 10px;
    border: solid black;
    width: 1200px;
    height: 800px;
}
body {
    border: solid black;
    margin: auto;
    padding: 30px;
    text-align: center;
}
